html {
	overflow: hidden;
}

body {
	background-color: #F7F6F5;
}

.resume {
	background-color: #9c3;
	border-radius: 15px 15px 15px 15px;
	margin: 1cm 1cm 1cm 1cm;
	overflow: hidden;
	width: 30%;
	box-shadow: 2px 2px 10px #aaaaaa;
	border: 4px 4px 4px 4px;
	padding: 4px 4px 4px 4px;
}

.data {
	border: 4px 4px 4px 4px;
	padding: 4px 4px 4px 4px;
}

.img_perfil {
	height: 100px;
	width: 100px;
}

.data {
	float: right;
}

.navigation {
	border: 1px solid red;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%
}